/* home */
*
{
    margin: 0;
    padding: 0;
}
    
    

.navbar-1 {
background-color: black;    
}

.navbar-ul{
display:flex;   
justify-content:center;
align-items:center;
height:10vh;
}

.navbar-li{
list-style-type: none;
padding:15px;
margin:5px;
color:white;
font-size:12px;
}

.navbar-li:hover {
    background-color:tomato;
    transition: .2s ease-in-out;
    transition-delay: .1s;
    border-radius:4px;
}

.navbar-a{
    color:white;
    text-decoration:none;
    font-weight:700;
}

.content-img{
background-color:#f7f7f7;
    display:flex;
    justify-content:center;
    align-items:center;
     height:85vh;
}

.img-1{
width:40%;
height:50%;
}

.a-img{
    background-color:white;
    width:350px;
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    text-decoration:none;
    color:black;
    font-size:24px;
    border-radius:48px;
    box-shadow: 10px 10px 5px rgba(0,0,0, 0.75);
    -webkit-box-shadow:10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:10px 10px 5px 0px rgba(0,0,0, 0.75);
    font-weight:900;

}

.foter{
height:5vh;
background-color:brown;
display:flex;
justify-content:center;
align-items:center;
}

.foter-h1{
font-size: 21px;
color:white;
}
/* home end */

/* about */
.navbar-2 {
    background-color: black;
}

.ul-navbar-2{
width:100%;
 height:10vh;
 display:flex;
 justify-content:center;
 align-items:center;
}

.li-navbar-2{
    list-style-type:none;
    padding:15px;
    margin:5px;
    font-size:12px;
}

.li-navbar-2:hover{
    background-color:tomato;
    transition: .2s ease-in-out;
    transition-delay:.1s;
    border-radius:4px;
}

.navbar-a-2{
text-decoration:none;
color:white;
font-weight:700;
}

.monyet-hitam-img{
    height:50%;
    width:50%;
    border-radius:12px;
}

.a-monyet{
    background-color:white;
    width:500px;
    height:350px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:24px;
    box-shadow: 10px 10px 5px rgba(0,0,0, 0.75);
    -webkit-box-shadow:10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:10px 10px 5px 0px rgba(0,0,0, 0.75);

}

.monyet-hitam{
    background-color:#f7f7f7;
    display:flex;
    justify-content:center;
    align-items:center;
    height:85vh;
}

.footer-2{
background-color:black;
height:5vh;
width:100%;
}

.footer-h3-2{
    color:white;
    font-size:19px;
    font-weight:500;
}
/* about end */

/* contact */
.navbar-3{
background-color:black;
}

.ul-navbar-3{
width:100%;
height:10vh;
display:flex;
justify-content:center;
align-items:center;
}

.li-navbar-3{
list-style-type:none;
padding:15px;
margin:5px;
font-size:12px;
}

.li-navbar-3:hover{
    background-color:tomato;
    transition: .2s ease-in-out;
    transition-delay:.1s;
    border-radius:4px;
}

.a-navbar-contact{
    text-decoration:none;
    color:white;
    font-weight:700;
   
}


.contact-content{
 background-color:blueviolet;
height:85vh;
justify-content:center;
display:flex;
align-items:center;
}

.container-contact-1{
    border-radius:24px;
    height:30%;
    width:30%;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}


.a-contact{
text-decoration:none;
color:white;
font-weight:900;
}

.button-contact{
    padding:5px;
    margin:4px;
    border-radius:10px;
}

.p-contact-1{
    font-size:15px;
    color:white;
    font-weight:900;
}

.div-button{
    display:flex;
}

.footer-3{
background-color:black;
width:100%;
height:5vh;
}

.footer-h3-3{
color:white;
font-size:19px;
font-weight:500;
}
/* contact end */